{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
    <link rel="stylesheet" href="{% static 'shopper/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Technical Values</title>
  </head>
  <body>

    <!-- Nav Bar -->
    <div class="navbar-fixed">
        <nav class="navbar white">
            <div class="navbar-wrapper">
                <div class="container ">
                    <li class="brand-logo black-text hide-on-med-and-down"> <a href=""> Technical Values </a> </li>
                    <ul class="right">
                        <li class=""> <a href=""> Home </a> </li>
                        <li class=""> <a href=""> My List </a> </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <br>


    <!-- Grid Layout Products -->
    <div class="center-align container">
        <h6> <strong> Featured </strong> </h6>
        <h3> Search for stuff here ya'll </h3>
        <p class="flow-text"> This is just a temporary site, made to simplify the amazon link process for you guys. No, this is not the final look of the website I am designing. </p>
        <hr>
    </div>

    <!-- Temporary Stuff -->
        <div class="container">
            <script type="text/javascript">
                amzn_assoc_placement = "adunit0";
                amzn_assoc_tracking_id = "j0pine4-20";
                amzn_assoc_ad_mode = "search";
                amzn_assoc_ad_type = "smart";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_title = "Search for Products";
                amzn_assoc_default_search_phrase = "headphones";
                amzn_assoc_default_category = "All";
                amzn_assoc_linkid = "5a64ae9bd7072bea5129125aacf397db";
                amzn_assoc_search_bar = "true";
                amzn_assoc_search_bar_position = "top";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </div>

    <!-- <div class="container" id="grid-products-container"> -->

        <!-- Item Start -->
        <!-- <div id="product-01" class="z-depth-2">
            <h1> 01 </h1>
        </div> -->
        <!-- Item End -->

        <!-- Item Start -->
        <!-- <div id="product-02" class="z-depth-2">
            <h1> 02 </h1>
        </div> -->
        <!-- Item End -->
        
        <!-- Item Start -->
        <!-- <div id="product-03" class="z-depth-2">
            <h1> 03 </h1>
        </div> -->
        <!-- Item End -->
        
        <!-- Item Start -->
        <!-- <div id="product-04" class="z-depth-2">
            <h1> 04 </h1>
        </div> -->
        <!-- Item End -->        

    <!-- </div> -->

    <br>


    

        <!-- Headphones Section -->
        <div class="container">

            <!-- <div class="row valign-wrapper"> -->

                <!-- Left Column -->
                <!-- <div class="col m6">
                    <img src="https://www.transparentpng.com/thumb/headphones/rv1AdU-headphones-free-download.png" class="responsive-img">
                </div> -->
                <!-- End of Column -->
                
                <!-- Left Column -->
                <!-- <div class="col m6">
                    <ul class="">
                        <li class=""> High-performance wireless Bluetooth headphones </li>
                        <hr>
                        <li class=""> Features the Apple W1 chip and Class 1 wireless Bluetooth connectivity </li>
                        <hr>
                        <li class=""> With up to 40 hours of battery life, Beats Solo3 wireless is your perfect everyday headphone </li>
                        <hr>
                        <li class=""> Compatible with iOS and Android devices </li>
                        <hr>
                        <li class=""> Compatible with iOS and Android devices </li>
                        <hr>
                        <li class=""> Compatible with iOS and Android devices </li>
                    </ul>
                </div> -->
                <!-- End of Column -->

                <script type="text/javascript">
                    amzn_assoc_placement = "adunit0";
                    amzn_assoc_tracking_id = "j0pine4-20";
                    amzn_assoc_ad_mode = "search";
                    amzn_assoc_ad_type = "smart";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_title = "Search for Products";
                    amzn_assoc_default_search_phrase = "Playstation 5";
                    amzn_assoc_default_category = "All";
                    amzn_assoc_linkid = "5a64ae9bd7072bea5129125aacf397db";
                    amzn_assoc_search_bar = "true";
                    amzn_assoc_search_bar_position = "top";
                    </script>
                    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
            </div>
    
        </div>


        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
        <!-- Parallax Script -->
        <script>

              $(document).ready(function(){
                $('.parallax').parallax();
            });

        </script>

        <!-- Carousel Script -->
        <script>
            $(document).ready(function(){
              $('.sidenav').sidenav();
              $('.materialboxed').materialbox();
              $('.parallax').parallax();
              $('.tabs').tabs();
              $('.datepicker').datepicker({
                disableWeekends : true
              });
              $('.tooltipped').tooltip();
              $('.scrollspy').scrollSpy();
            });
          </script>
   
  </body>
</html>