{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
    <link rel="stylesheet" href="{% static 'shopper/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Technical Values</title>
  </head>
  <body>

    <!-- Nav Bar -->
    <div class="navbar-fixed">
        <nav class="navbar white">
            <div class="navbar-wrapper">
                <div class="container ">
                    <li class="brand-logo black-text hide-on-med-and-down"> <a href=""> Technical Values </a> </li>
                    <ul class="right">
                        <li class=""> <a href=""> Home </a> </li>
                        <li class=""> <a href=""> My List </a> </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <br>

    <div class="wrapper" >
        <!-- Contain the upper section -->
        <section class="featured-grid z-depth-3 ">

            <!-- Featured Item 01 -->
            <div id="item-one" class=""> 
                <div class="container left">
                    <h3 class="blue-text text-darken-4"> Find the Lowest Prices </h3>
                    <p class="flow-text">Type all you want, nothing will happen... yet </p>
                    <form action=" center">
                        <div class="row">
                            <div class="col s10"> 
                                <input type="text" class="input-field" placeholder="Search">
                            </div>
                            <div class="col s2 "> 
                                <a class="btn-floating btn waves-effect waves-light pulse blue z-depth-2"><i class="material-icons">search</i></a>
                            </div>
                        </div>
                    </form>
                </div>
            
            </div>


            <!-- Featured Item 02 -->
            <div id="item-two" class="">  
                <div class="container ">
                    <h3 class="blue-text text-darken-4"> Quality Guarenteed </h3>
                    <p class="flow-text"> Our searches are automatically filtered by customer reviews. See the best products first. </p>
                </div>
            </div>

            <!-- Featured Item 03 -->
            <div id="item-three" class="" >  
                <div class="container white-text ">
                    <h3 class="" > THIS IS JUST A WORK IN PROGRESS </h3>
                    <p class="flow-text"> None of the links on this site function and you can't "filter prices." This is just to make the process of searching for products you want a bit easier. </p>
                </div>
            </div>
            
        </section>



    </div>
    

    <!-- Categories Icons -->
    <div class="z-depth-3" id="icons">

        <br>

        <div class="center-align">
            <h6> <strong> Hot Products </strong> </h6>
            <h3> Get the best deals on the best Tech </h3>
            <p class="flow-text grey-text"> Make sure you're not overpaying on todays best items </p>
        </div>

        <div class="container">

        <div class="row center-align" id="hot-products">

            <div class="col m3 center-align">
                <img src="https://images-na.ssl-images-amazon.com/images/I/619BkvKW35L._SL1500_.jpg" alt="" class="responsive-img">
                <hr>
                <p> Sony Playstation 5 </p>
            </div>

            <div class="col m3 center-align">
                <img src="https://images-na.ssl-images-amazon.com/images/I/71BMVOs2xML._AC_SL1500_.jpg" alt="" class="responsive-img">
                <hr>
                <p> Macbook Air Pro </p>
            </div>

            <div class="col m3 center-align">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61Q2hRo4BCL._SL1200_.jpg" alt="" class="responsive-img">
                <hr>
                <p> Xbox Series S </p>
            </div>

            <div class="col m3 center-align">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61F0MXKMLwL._AC_SL1080_.jpg" alt="" class="responsive-img">
                <hr>
                <p> Sony A8H OLED 4K Ultra TV </p>
            </div>
        
        </div>

        </div>

    </div>

    <!-- Grid Layout Products -->
    <div class="center-align">
        <h6> <strong> Featured </strong> </h6>
        <h3> Search for stuff here ya'll </h3>
    </div>

    <!-- Temporary Stuff -->
        <div class="container">
            <script type="text/javascript">
                amzn_assoc_placement = "adunit0";
                amzn_assoc_tracking_id = "j0pine4-20";
                amzn_assoc_ad_mode = "search";
                amzn_assoc_ad_type = "smart";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_title = "Search for Products";
                amzn_assoc_default_search_phrase = "headphones";
                amzn_assoc_default_category = "All";
                amzn_assoc_linkid = "5a64ae9bd7072bea5129125aacf397db";
                amzn_assoc_search_bar = "true";
                amzn_assoc_search_bar_position = "top";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </div>

    <!-- <div class="container" id="grid-products-container"> -->

        <!-- Item Start -->
        <!-- <div id="product-01" class="z-depth-2">
            <h1> 01 </h1>
        </div> -->
        <!-- Item End -->

        <!-- Item Start -->
        <!-- <div id="product-02" class="z-depth-2">
            <h1> 02 </h1>
        </div> -->
        <!-- Item End -->
        
        <!-- Item Start -->
        <!-- <div id="product-03" class="z-depth-2">
            <h1> 03 </h1>
        </div> -->
        <!-- Item End -->
        
        <!-- Item Start -->
        <!-- <div id="product-04" class="z-depth-2">
            <h1> 04 </h1>
        </div> -->
        <!-- Item End -->        

    <!-- </div> -->

    <br>


    <!-- Products -->
    <div class="wrapper" id="products-list01-wrapper">
        <div class="container">

            <div class="center-align">
                <h6> <strong> Featured </strong> </h6>
                <h3> Add to your Collection </h3>
            </div>

            <div class="row center-align" id="hot-products">

                <div class="col">
                    <ul class="tabs">
                      <li class="tab col s3"> 
                        <a href="#build-a-pc" class="indigo-text text-darken-4"> Build a PC </a>
                      </li>
                      <li class="tab col s3"> 
                        <a href="#home-theater" class="indigo-text text-darken-4"> Home Theater </a>
                      </li>
                      <li class="tab col s3"> 
                        <a href="#playstation" class="indigo-text text-darken-4"> Team Playstation </a>
                      </li>   
                      <li class="tab col s3"> 
                        <a href="#xbox" class="indigo-text text-darken-4"> Team Xbox </a>
                      </li>                     
                    </ul>

                    <!-- Build a PC Section -->
                    <div class="row" id="build-a-pc">

                        <!-- Item 01 -->
                        <div class="col m3 center-align">  
                            <!-- Create the Card -->
                            <div class="card medium center text-center z-depth-3 valign-wrapper">
                                <!-- Card Image -->
                                <div class="card-image ">  
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/7122uH4-hfL._AC_SL1121_.jpg" alt="" class="responsive-img">
                                </div>
                                <!-- Card Actions -->
                                <div class="card-action center">
                                    <a class="text-center" data-product="B07ZTYKLZW" data-action="add"> Product Page </a>
                                </div>
                            </div>
                        </div>
                        <!-- Item End -->

                        <!-- Item 02 -->
                        <div class="col m3 center-align">  
                            <!-- Create the Card -->
                            <div class="card medium center text-center z-depth-3 valign-wrapper">
                                <!-- Card Image -->
                                <div class="card-image ">  
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/71RvPqbzAJL._AC_SL1280_.jpg" alt="" class="responsive-img">
                                </div>
                                <!-- Card Actions -->
                                <div class="card-action center">
                                    <a href="#" class="text-center"> Product Page </a>
                                </div>
                            </div>
                        </div>
                        <!-- Item End -->                        

                        <!-- Item 03 -->
                        <div class="col m3 center-align">  
                            <!-- Create the Card -->
                            <div class="card medium center text-center z-depth-3 valign-wrapper">
                                <!-- Card Image -->
                                <div class="card-image ">  
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/81kXweuKHrL._AC_SL1500_.jpg" alt="" class="responsive-img">
                                </div>
                                <!-- Card Actions -->
                                <div class="card-action center">
                                    <a href="#" class="text-center"> Product Page </a>
                                </div>
                            </div>
                        </div>
                        <!-- Item End -->

                        <!-- Item 04 -->
                        <div class="col m3 center-align">  
                            <!-- Create the Card -->
                            <div class="card medium center text-center z-depth-3 valign-wrapper">
                                <!-- Card Image -->
                                <div class="card-image ">  
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/51SSkgGjutL._AC_SL1000_.jpg" alt="" class="responsive-img">
                                </div>
                                <!-- Card Actions -->
                                <div class="card-action center">
                                    <a href="#" class="text-center"> Product Page </a>
                                </div>
                            </div>
                        </div>
                        <!-- Item End -->

                    </div>
                    <!-- Build a PC Section End -->

                    <!-- Home Theater Section -->
                    <div class="row hot-products" id="home-theater">
                        <!-- Item 01 -->
                        <div class="col m3">  
                            <div class="center-align">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/71BMVOs2xML._AC_SL1500_.jpg" alt="" class="responsive-img">
                                <hr>
                                <p> Macbook Air Pro </p>
                            </div>
                        </div>
                        <!-- Item End -->

                        <!-- Item 01 -->
                        <div class="col m3">  
                            <div class="center-align">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/71BMVOs2xML._AC_SL1500_.jpg" alt="" class="responsive-img">
                                <hr>
                                <p> Macbook Air Pro </p>
                            </div>
                        </div>
                        <!-- Item End -->

                        <!-- Item 01 -->
                        <div class="col m3">  
                            <div class="center-align">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/71BMVOs2xML._AC_SL1500_.jpg" alt="" class="responsive-img">
                                <hr>
                                <p> Macbook Air Pro </p>
                            </div>
                        </div>
                        <!-- Item End -->
                                 
                        <!-- Item 01 -->
                        <div class="col m3">  
                            <div class="center-align">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/71BMVOs2xML._AC_SL1500_.jpg" alt="" class="responsive-img">
                                <hr>
                                <p> Macbook Air Pro </p>
                            </div>
                        </div>
                        <!-- Item End --> 
                    </div>
                    <!-- Home Theater Section End -->

                    <!-- Playstation Section -->
                    <div class="row hot-products" id="playstation">
                        <!-- Item 01 -->
                        <div class="col m3">  
                            <div class="center-align">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/71BMVOs2xML._AC_SL1500_.jpg" alt="" class="responsive-img">
                                <hr>
                                <p> Macbook Air Pro </p>
                            </div>
                        </div>
                        <!-- Item End -->

                        <!-- Item 01 -->
                        <div class="col m3">  
                            <div class="center-align">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/71BMVOs2xML._AC_SL1500_.jpg" alt="" class="responsive-img">
                                <hr>
                                <p> Macbook Air Pro </p>
                            </div>
                        </div>
                        <!-- Item End -->

                        <!-- Item 01 -->
                        <div class="col m3">  
                            <div class="center-align">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/71BMVOs2xML._AC_SL1500_.jpg" alt="" class="responsive-img">
                                <hr>
                                <p> Macbook Air Pro </p>
                            </div>
                        </div>
                        <!-- Item End -->
                                 
                        <!-- Item 01 -->
                        <div class="col m3">  
                            <div class="center-align">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/71BMVOs2xML._AC_SL1500_.jpg" alt="" class="responsive-img">
                                <hr>
                                <p> Macbook Air Pro </p>
                            </div>
                        </div>
                        <!-- Item End --> 
                    </div>
                    <!-- Playstation Section End --> 
                    
                    <!-- Xbox Section -->
                    <div class="row hot-products" id="xbox">
                        <!-- Item 01 -->
                        <div class="col m3">  
                            <div class="center-align">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/71BMVOs2xML._AC_SL1500_.jpg" alt="" class="responsive-img">
                                <hr>
                                <p> Macbook Air Pro </p>
                            </div>
                        </div>
                        <!-- Item End -->

                        <!-- Item 01 -->
                        <div class="col m3">  
                            <div class="center-align">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/71BMVOs2xML._AC_SL1500_.jpg" alt="" class="responsive-img">
                                <hr>
                                <p> Macbook Air Pro </p>
                            </div>
                        </div>
                        <!-- Item End -->

                        <!-- Item 01 -->
                        <div class="col m3">  
                            <div class="center-align">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/71BMVOs2xML._AC_SL1500_.jpg" alt="" class="responsive-img">
                                <hr>
                                <p> Macbook Air Pro </p>
                            </div>
                        </div>
                        <!-- Item End -->
                                 
                        <!-- Item 01 -->
                        <div class="col m3">  
                            <div class="center-align">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/71BMVOs2xML._AC_SL1500_.jpg" alt="" class="responsive-img">
                                <hr>
                                <p> Macbook Air Pro </p>
                            </div>
                        </div>
                        <!-- Item End --> 
                    </div>
                    <!-- xbox Section End -->                     

                  </div>
            </div>
    
            </div>
        </div>

        <!-- Headphones Section -->
        <div class="container">

            <!-- <div class="row valign-wrapper"> -->

                <!-- Left Column -->
                <!-- <div class="col m6">
                    <img src="https://www.transparentpng.com/thumb/headphones/rv1AdU-headphones-free-download.png" class="responsive-img">
                </div> -->
                <!-- End of Column -->
                
                <!-- Left Column -->
                <!-- <div class="col m6">
                    <ul class="">
                        <li class=""> High-performance wireless Bluetooth headphones </li>
                        <hr>
                        <li class=""> Features the Apple W1 chip and Class 1 wireless Bluetooth connectivity </li>
                        <hr>
                        <li class=""> With up to 40 hours of battery life, Beats Solo3 wireless is your perfect everyday headphone </li>
                        <hr>
                        <li class=""> Compatible with iOS and Android devices </li>
                        <hr>
                        <li class=""> Compatible with iOS and Android devices </li>
                        <hr>
                        <li class=""> Compatible with iOS and Android devices </li>
                    </ul>
                </div> -->
                <!-- End of Column -->

                <script type="text/javascript">
                    amzn_assoc_placement = "adunit0";
                    amzn_assoc_tracking_id = "j0pine4-20";
                    amzn_assoc_ad_mode = "search";
                    amzn_assoc_ad_type = "smart";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_title = "Search for Products";
                    amzn_assoc_default_search_phrase = "Playstation 5";
                    amzn_assoc_default_category = "All";
                    amzn_assoc_linkid = "5a64ae9bd7072bea5129125aacf397db";
                    amzn_assoc_search_bar = "true";
                    amzn_assoc_search_bar_position = "top";
                    </script>
                    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
            </div>
    
        </div>


        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
        <!-- Parallax Script -->
        <script>

              $(document).ready(function(){
                $('.parallax').parallax();
            });

        </script>

        <!-- Carousel Script -->
        <script>
            $(document).ready(function(){
              $('.sidenav').sidenav();
              $('.materialboxed').materialbox();
              $('.parallax').parallax();
              $('.tabs').tabs();
              $('.datepicker').datepicker({
                disableWeekends : true
              });
              $('.tooltipped').tooltip();
              $('.scrollspy').scrollSpy();
            });
          </script>
   
  </body>
</html>